html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.sec-cards {
  background: #eee;
  padding: 12rem 0;
}
.sec-cards .cards {
  max-width: 134rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.sec-cards .cards .card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex: 0 0 35rem;
  margin: 4rem 2rem;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s ease-out;
}
.sec-cards .cards .card:hover {
  transform: translateY(-10px) scale(1.018);
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
}
.sec-cards .cards .card__bg {
  background: linear-gradient(rgba(242, 221, 242, 0.5), rgba(242, 221, 242, 0.5)), url(../img/git.jpg) no-repeat bottom/cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  height: 30rem;
  width: 100%;
  border-top-left-radius: 3px;
  transition: all .3s linear;
}
.sec-cards .cards .card__bg--blue {
  background: linear-gradient(rgba(13, 165, 181, 0.5), rgba(13, 165, 181, 0.5)), url(../img/track3.jpg) no-repeat center/cover;
}
.sec-cards .cards .card__bg--orange {
  background: linear-gradient(rgba(212, 98, 56, 0.5), rgba(212, 98, 56, 0.5)), url(../img/track2.jpg) no-repeat bottom/cover;
}
.sec-cards .cards .card__bg--track4 {
  background: linear-gradient(rgba(160, 160, 68, 0.5), rgba(160, 160, 68, 0.5)), url(../img/track4.png) no-repeat bottom/cover;
}
.sec-cards .cards .card__bg--track5 {
  background: linear-gradient(rgba(13, 165, 181, 0.5), rgba(13, 165, 181, 0.5)), url(../img/track5.png) no-repeat center/cover;
}
.sec-cards .cards .card__bg--track6 {
  background: linear-gradient(rgba(157, 61, 157, 0.5), rgba(157, 61, 157, 0.5)), url(../img/track6.png) no-repeat center/cover;
}
.sec-cards .cards .card__list {
  margin: 2rem 0 6rem 0;
  list-style: none;
  text-align: center;
}
.sec-cards .cards .card__listitem {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #999;
}
.sec-cards .cards .card__btn {
  margin-top: auto;
}
.sec-cards .cards .card__button {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 2rem;
  padding: .5rem 0;
  text-decoration: none;
  font-size: 1.6rem;
  color: #666;
  transition: all .3s ease-out;
}
.sec-cards .cards .card__button--green {
  border-bottom: 1px solid #4caf50;
}
.sec-cards .cards .card__button--orange {
  border-bottom: 1px solid red;
}
.sec-cards .cards .card__button--blue {
  border-bottom: 1px solid #0da5b5;
}
